Host.fromString parses a hostname with four or fewer characters into a Ipv6Address

I'm using `Host.fromString` in conjunction with [ciris][ciris] to validate configuration values that are passed to an application.
I then use the `Host` value to create a string that represents a JDBC URL for a database library. The JDBC URL is malformed when the user passes a hostname with four or fewer characters because the `toString` method of `Ipv6Address` adds two colons at the end of the hostname. 

Example:
```
Host.fromString("db").toString  // -> "Some(db::)"
```

I'm definitely not an expert in all involved RFCs but this seems like a bug to me. According to [RFC4291, Section 2.2][RFC4291] the string in the example should not be considered an `Ipv6Address` because it is missing the `::` that indicates compressed leading or trailing zeros. From skimming the code it seems to me that the underlying issue is probably rooted in `Ipv6Address.fromString`.

**scala**: `v2.13.6`
**ip4s:** `v3.0.3`


[ciris]: https://github.com/vlovgr/ciris
[RFC4291]: https://datatracker.ietf.org/doc/html/rfc4291#section-2.2
[fromMixedString]: https://github.com/Comcast/ip4s/blob/v3.0.3/shared/src/main/scala/com/comcast/ip4s/Host.scala#L643


Thanks, fixed in ee7a8f60abb29fac07c2570cb71ca5b6aab41897


I'm the one who has to say thank you! :pray: 

BTW, I released 2.0.4 and 3.0.4 with the fix.